.navbar {
 background-color: white;
    padding: 0px 50px 0px 40px;
/*  border: 1px solid black; */
  display: inline;
  float: right;
  
    }

div a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  padding: 8px ;
  display:inline-block;
}


ul {
  display: inline;
  margin: 0;
  padding: 0;

}
   
 ul a:hover {

background: lightgray;   

 }

ul li {display: inline-block;}
ul li:hover {background: lightgray;}
ul li:hover ul {display: block;}

ul li ul {
  position: absolute;
  width: 215px;
  display: none;
}

ul li ul li { 
  background: lightgray; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li a:hover {background: whitesmoke;}

/* nav bar contents end */

 .logoimage{
  height:155px;
  width: 305px;
 
/*  border: 1px solid black; */
  padding: 0px 0px 40px 0px;
  margin: 0px 0px 100px 50px;
 float: left;
  display: inline-block;
/*   transform: translate(45px,15px); */

} 


 .bioimage{
   width: 455px;
   height: 625px;
   border-radius: 25px;
/*    box-shadow: 10px 10px 40px #444444; */
   background-color: whitesmoke;  
/*     border: 1px solid black; */
  padding: 0px 0px 20px 0px;
  margin: 170px 0px 0px 25px;
   float: left;
  display: inline-block;
     transform: translate(-250px,25px);
}

.bioimage img{
border-radius: 25px;
   box-shadow: 10px 10px 30px #444444;
 
}

.bio{
  float: right;
   width: 520px;
   height: 650px;
  margin: 120px 0px 0px 0px;
  display: inline-block;
   transform: translate(-120px,15px);
/*     border: 1px solid black; */
   text-align: center;
}

h1{
/*    border: 1px solid black; */
display: inline-block;
 color: #444444;
 
}

.space{
display: inline-block;
  width:100%;
  height: 110px;
/*       border: 1px solid black; */
}

.socialfooter {
  position: static;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  left: 0;
  bottom: 0;
  width: 100%;
/*   border: 1px solid black; */
  height: 10px
  color: white;
  text-align: center;
  
}

