body {background-color: #fbf3ec ;}

/* nav-bar contents begin */
.navbar {
  background-color: #fbf3ec;
  padding: 0px 50px 0px 40px;
  margin: 20px 0px 0px 0px;
  /*  border: 1px solid black; */
  display: inline-block;
  float: right;
}

div a {
  text-decoration: none;
  color: black;
  /*   text-shadow: 2px 2px 2px white; */
  font-size: 24px;
  padding: 8px ;
  /*   text-shadow: 2px 2px 4px #000000; */
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  /*    opacity: 0.8; */
  display:inline-block;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
   
 ul a:hover {
  background: white;   
 }

ul li {display: inline-block;}
ul li:hover {background: white;}
ul li:hover ul {display: block;}

ul li ul {
  position: absolute;
  width: 215px;
  display: none;
}

ul li ul li { 
  background: white; 
  display: block; 
}

ul li ul li a {display:block !important;} 
ul li ul li a:hover {background: #ffdac395;}
/* nav-bar contents end */

.logoimage{
  height:155px;
  width: 305px;
  /*  border: 1px solid black; */
  padding: 0px 0px 0px 0px;
  margin: 30px 0px 0px 55px;
  float: left;
  display: inline;
  /*   transform: translate(45px,15px); */
} 

.contactimage{
  width: 455px;
  height: 625px;
  padding: 0px 0px 0px 0px;
  margin: 220px 0px 0px 20px;
  float: left;
  display: inline-block;
  transform: translate(-300px,25px);
}

.contactimage img{
  border-radius: 15px;
  display: inline-block;
  width:800px;
  height: 640px;
  float: left;
}

h3{
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  font-family:  'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.form {
  border-radius: 5px;
  background-color: #fbf3ec;
  float: right;
  width: 450px;
  height: 620px;
  margin: 175px 95px 0px 0px;
  padding:5px 5px 5px 30px;
  display: inline-block;
  text-align: left;
}
  
.form body {font-family:  'Bebas Neue', cursive;}
  * {box-sizing: border-box;
  font-family:  'Bebas Neue', cursive;
  font-size: 15px;
  }

.text{
  /*   font-size: 15px; */
}

.form input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  opacity:0.9;
}

.form input[type=text]:hover{
  opacity: 0.8;
}

.form input[type=submit] {
  background-color: black;
  color: #fbf3ec;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

.form input[type=submit]:hover {
  opacity:0.7;
}

.space{
  display: inline-block;
  width:100%;
  height: 100px;
  /*  border: 1px solid black; */
}

.socialfooter {
  position: static;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  /*   border: 1px solid black; */
  height: 10px;
  color: white;
  text-align: center;
}
