body {background-color: #fbf3ec ;}

/* nav-bar contents begin */
.navbar {
  background-color: #fbf3ec;
  padding: 0px 50px 0px 40px;
  margin: 20px 0px 0px 0px;
  /*  border: 1px solid black; */
  display: inline-block;
  float: right;
}

div a {
  text-decoration: none;
  color: black;
  /*   text-shadow: 2px 2px 2px white; */
  font-size: 24px;
  padding: 8px ;
  /*   text-shadow: 2px 2px 4px #000000; */
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  /*    opacity: 0.8; */
  display:inline-block;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
   
 ul a:hover {
  background: white;   
 }

ul li {display: inline-block;}
ul li:hover {background: white;}
ul li:hover ul {display: block;}

ul li ul {
  position: absolute;
  width: 215px;
  display: none;
}

ul li ul li { 
  background: white; 
  display: block; 
}

ul li ul li a {display:block !important;} 
ul li ul li a:hover {background: #ffdac395;}
/* nav-bar contents end */

/*logo image contents begins  */
.logoimage{
  height:155px;
  width: 305px;
  /*  border: 1px solid black; */
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 15px 0px;
  display: inline-block;
  transform: translate(55px,15px);
}

.container{
  width:100%;
  height:880px;
  display: inline-block;
  /*   background-color: white; */
  /*    border: 1px solid black; */
}

.photoimage{
   width: 40%;
   background-color: #fbf3ec ;  
  /*     border: 1px solid black; */
  padding: 0px 0px 20px 0px;
  margin: 40px 0px 0px 150px;
  float: left;
  display: inline-block;
}

.photoimage img{
border-radius: 25px;
box-shadow: 10px 10px 30px #444444;
width:100%;
height: 40%;
margin: 0px 0px 0px 80px;
}

.description{
  float: right;
  /*     background-color: white; */
  width: 30%;
  margin: 100px 200px 0px 0px;
  display: inline-block;
  position:sticky;
  color: gray;
  opacity:0.8;
  text-align: left;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

h1{
  /*    border: 1px solid black; */
  display: inline-block;
  width:100%;
  margin: 0px 0px 15px 0px;
  color: black;
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
}

p{
  /*      border: 1px solid black; */
  display: inline-block;
  width:100%;
  margin: 0px 0px 20px 0px;
  color: #444444;
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
}

select[name=size] {
  width: 20%;
  height: 20px;
  padding: 50px 50px;
  margin: 8px 0;
  /*   box-sizing: border-box; */
}

/* .form{
  font-size: 30px;
   padding: 20px 20px;
  font-family: 'Bebas Neue', cursive;
} */

button {
  border: none;
  float: left;
  display: left;
  outline: 0;
  padding: 12px;
  margin: 15px 0px 0px 0px;
  color: white;
  background-color: #000;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
}

button:hover {
  opacity: 0.8; 
}

.space{
display: inline-block;
  width:100%;
  height: 0px;
/*       border: 1px solid black; */
}

.socialfooter {
  position: static;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  left: 0;
  bottom: 0;
  width: 40%;
  /*   border: 1px solid black; */
  height: 5px;
  color: white;
  text-align: left;
}

